@charset "utf-8";

/*
    Inputs
*/

@import "settings";



// Text input
input[type="text"] {
    font-weight: normal;
    font-size: 1rem;
    line-height: 100%;
    font-family: $sans;
    font-weight: 300;
    margin: 0;
    padding: size(1.5);
    border: none;
    width: 100%;
}